<div class="custom-content">
  <div class="main-wrapper">
    <div class="banner_leftContent">
      <h1>Welcome, <br />
        BoringOMeter.</h1>
      <div class="cus-form">
        <h3>Reset Password</h3>
        <form class="form-build" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="rep-field w-full">
            <mat-form-field class="w-full">
              <mat-label>Password</mat-label>
              <input 
                matInput
                type="password"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                formControlName="password"
                placeholder="Password"
              >
            </mat-form-field>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
          </div>
          </div>
          <div class="rep-field w-full">
            <mat-form-field class="w-full">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="confirmPassword" (keyup)="comparePassword($event)"
                placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
              >
            </mat-form-field>
            <div *ngIf="isComparePassword" class="invalid-feedback">
              <div>Confirm Password is not matched with password</div>
          </div>
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
        </div>
          </div>

          <div class="button-group">
            <button mat-button>Submit</button>
            <button type="button" mat-button [routerLink]="['/login']">Back</button>
          </div>
        </form>
      </div>
    </div>
    <div class="building-img">
      <img src="/assets/img/building.png" />
    </div>
  </div>
</div>