<div class="custom-content">
  <div class="main-wrapper">
    <div class="banner_leftContent">
      <h1>Welcome, <br />
        BoringOMeter.</h1>
      <div class="video-button-row">
        <button>
          <div class="play-btn">
            <img src="/assets/img/play.png" />
          </div>
          <span>Watch Video</span>
        </button>
      </div>
      <div class="start-button-row">
        <button mat-raised-button [routerLink]="['/login']">Start</button>
      </div>
    </div>
    <div class="building-img">
      <img src="/assets/img/building.png" />
    </div>
  </div>
</div>