
<div class="project-head">
  <div class="project-btn">
    <h2>Project Analysis</h2>
  </div>
  <br>
</div>
<div class="project-listing">
  <ul>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 1</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 2</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 3</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 4</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 5</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
        <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
       <mat-icon>bar_chart</mat-icon>
        <h6>Project 6</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <button>
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="pro-btn-group" style="text-align: right;">
  <button mat-button  class="project-btn-dialog" (click)="closeDialog()">Close</button>
</div>


     