.project-listing {
  width: 500px;
  display: inline-block;
  background: #ffffff;
  border-radius: 20px;
  padding: 0;
  max-height: 550px;
  overflow: auto;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      border-bottom: 1px solid #d6d6d6;
      height: 65px;
      justify-content: space-between;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      .pro-left-icon{
        width: calc(100% - 60px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .mat-icon{
          width: 20px;
          height: 20px;
          color: #757575;
        }
        h6{
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.5px;
          margin: 0;
          padding-left: 15px;
          width: calc(100% - 20px);
        }
      }
      .list-right-icons {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
          border: none;
          background-color: transparent;
          cursor: pointer;
          width: 20px;
          height: 20px;
          color: #bfbfbf;
          .mat-icon{
            width: 20px;
            height: 20px;
            font-size: 20px;
          }
          &:first-child{
            margin-right: 10px;
          }
          .search-icon {
            background: #bfbfbf;
            color: #ffffff;
            border-radius: 4px;
          }
          .delete-icon{
            font-size: 24px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}
.project-btn-dialog {
  background: #ffffff;
  border-radius: 12px;
}
.project-listing {
  background: #ffffff !important;
}


@media screen and (max-width: 575px) {
  .project-listing{
    ul{
      li{
        .pro-left-icon{
          h6 {
            font-size: 14px;
          }
        }
      }
    }
  }
}