.project-listing {
  width: 500px;
  display: inline-block;
  background: #ffffff;
  border-radius: 20px;
  padding: 0;
  max-height: 550px;
  overflow: auto;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      border-bottom: 1px solid #d6d6d6;
      height: 65px;
      justify-content: space-between;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      .pro-left-icon {
        width: calc(100% - 70px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          width: 20px;
        }
        h6 {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.5px;
          margin: 0;
          padding-left: 15px;
          width: calc(100% - 20px);
        }
      }
      .list-right-icons {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
.project-btn-dialog {
  background: #ffffff;
  border-radius: 12px;
}
::ng-deep .mat-button {
  background-color: #ffffff !important;
}

.search-icon {
  background: lightgrey;
  color: white;
}
.delete-icon {
  color: lightgrey;
}
.project-listing {
  background: #ffffff !important;
}


