
<div class="project-head cus-form">
  <div class="project-btn">
    <h2>Project Analysis</h2>
  </div>
  <form class="form-build" autocomplete="off" [formGroup]="analysisFileForm">
    <div class="rep-field w-full">
        <mat-form-field class="w-full">
            <mat-label>Name</mat-label>
            <input matInput tabindex="-1" type="text" matInput placeholder="Input"  formControlName="projectName"
             [ngClass]="{ 'is-invalid': submitted && f['projectName'].errors }">
        </mat-form-field>
        <div *ngIf="submitted && f['projectName'].errors" class="invalid-feedback">
            <div *ngIf="f['projectName'].errors['required']">Name is required</div>
        </div>
    </div>
</form>
</div>
<div class="project-listing">
  <ng-container  *ngIf="projectScoreList.length!=0 else nodata" >
    <ul *ngFor="let item of projectScoreList">
      <li>
        <div class="pro-left-icon">
        <mat-icon>bar_chart</mat-icon>
          <h6>{{item.projectScoreName}}</h6>
        </div>
        <div class="list-right-icons">
          <button  (click)="analysesScore(item)" >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
          <button (click)="deleteProject(item)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #nodata><span style="position: absolute;top: 50%; left: 47%;"> No record found</span></ng-template>
  <div class="pagination-div" *ngIf="projectScoreList.length!=0">
    <app-pagination [pageIndex]="pageIndex" [limit]="pageSize" [total]="count" (pageChange)="pageChanged($event)">
    </app-pagination>
  </div>
</div>
<div class="btns-group" style="text-align: right;">
  <button mat-button tabindex="-1" (click)="saveDialog()">Save</button>
  <button mat-button tabindex="-1" (click)="closeDialog()">Close</button>
</div>


     