<div class="custom-content">
  <div class="about-us-pg">
    <div class="about-con">
      <h2>BoringOMeter</h2>
      <p>
        The BoringOMeter is a web app that allows you to measure and rate the
        visual complexity of a building's design.
      </p>
      <p>
        It enables users to assess the complexity of a building's facade and
        score it on a scale of one to ten. A complex facade, such as the Sagrada
        Familia in Barcelona, scores 10 out of 10 (good, according to the
        BoringOMeter), while the Seagram Building in New York scores 2 out of 10
        (bad, according to the BoringOMeter).
      </p>
      <p>
        This BoringOMeter app is produced by
        <a href="https://www.heatherwick.com/"><b>Heatherwick Studio</b></a> and
        <a href="https://www.mksdtech.com/"><b>MKS DTECH</b></a> as part of the
        <a href="https://www.ihumanize.org/en/"><b>Humanise</b></a> campaign, a
        decade-long initiative that seeks to inspire a movement to stop the
        creation of boring buildings.
      </p>
      <p>
        We believe that we are all living through a quiet, unnoticed global
        catastrophe, in which many towns and cities have become miserable and
        soulless due to the proliferation of featureless, uninteresting
        buildings.
      </p>
      <p>
        Research shows that these places make people unhappy, stressed, and
        sick. Boring buildings are also unloved and often demolished, only to be
        replaced with equally unremarkable buildings, which worsens the climate
        crisis.
      </p>
      <p>
        We hope to change this. Buildings have the power to inspire and uplift
        us, making people feel safe, playful, romantic, and awestruck, just as
        they can also make us feel numb, sad, and disconnected from our
        surroundings.
      </p>
      <p>
        You can use the BoringOMeter for free and learn more about the Humanise
        campaign at
        <a href="https://www.ihumanize.org/en/"><b>ihumanize.org</b></a
        >.
      </p>
    </div>
  </div>
</div>
