<header>
    <mat-grid-list>
        <div class="cus-navbar">
            <ul>
                <li>
                    <button mat-button>About</button>
                </li>
                <li>
                    <button mat-button>How it works?</button>
                </li>
                <li>
                    <button mat-button>Contact Us</button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">Log Out</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Account</button>
                        <button mat-menu-item >Log Out</button>
                    </mat-menu>
                </li>
                <!-- *ngIf="isLogin" (click)="logout()" -->
            </ul>
        </div>
    </mat-grid-list>
</header>