<footer>
    <Container>
        <Grid container>
            <Grid item xs={12}>
                <p>BoringOMeter @ 2023</p>
                <ul>
                    <li>
                        <a href="#">
                            Terms and Conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            License Agreement
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </Grid>
        </Grid>
    </Container>
</footer>