<nav aria-label="Page navigation example" style="display: inline-flex;">
  <ng-container class="pagination">
    <div [class.disabled]="pageIndex === 1" class="prev">
      <a (click)="pageChangeBackward()" aria-label="Previous">
        <mat-icon>arrow_back_ios</mat-icon>
      </a>
    </div>
    <div [class.active]="no === pageIndex" *ngFor="let no of totalPageNo;let i=index">
      <div *ngIf="i==startPage"><a class="page-link" style="font-weight: bold;color: #bfbfbf;"
          title="You are on page no {{no}}" (click)="pageChangeIndex(no)">{{no}}</a></div>
      <!-- <div *ngIf="startPage >= this.pageIndexNumberSize && i==this.defaultPage+1"><a class="page-link" title="You are on page no {{totalPageNo.length}}" (click)="lastChangeIndex(totalPageNo.length)">{{totalPageNo.length}}</a></div> -->
    </div>
    <div [class.disabled]="pageIndex === totalSizeOfPages" class="next">
      <a (click)="pageChangeForward()" aria-label="Next">
        <mat-icon>arrow_forward_ios</mat-icon>
      </a>
    </div>
  </ng-container>
</nav>