
<div class="project-head">
  <div class="project-btn">
    <h2>Projects</h2>
    <div class="" style="text-align: right;">
      <button mat-button tabindex="-1"  class="project-btn-dialog"  (click)="newProject()">New Project</button>
    </div>
  </div>
  <br>
</div>
<div class="project-listing">
  <ul>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
           <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button (click)="deleteProject()">
          <mat-icon class="delete-icon" >delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
    <li>
      <div class="pro-left-icon">
        <mat-icon>business</mat-icon>
        <h6>List item</h6>
      </div>
      <div class="list-right-icons">
        <button>
          <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
        </button>
        <button  (click)="deleteProject()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="pro-btn-group" style="text-align: right;">
  <button mat-button  class="project-btn-dialog" (click)="closeDialog()">Close</button>
</div>


     