
<div class="project-head">
          <div class="project-btn">
            <h2>Projects</h2>
            <div class="pro-btn-group" style="text-align: right;">
          <button type="button" mat-button type="button" class="project-btn-dialog">New Project</button>
        </div>
          </div>
        <br>
        </div>
        <div class="project-listing">
          <ul>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="pro-btn-group" style="text-align: right;">
          <button type="button" mat-button type="button" class="project-btn-dialog" (click)="closeDialog()">Close</button>
        </div>


     