<div class="header-inner">
  <h1>BoringOMeter</h1>
</div>

<div class="inner-container">
  <div class="cus-container" [ngStyle]="isUpload?{'display': 'block'} : {'display': 'none'}">
    <div class="cus-pro-container">
      <div class="project-left">
        <div class="new-project-head">
          <div class="cus-form">
            <form class="form-build">
              <div class="new-project-btn">
                <h2>New Project</h2>
              </div>
              <div class="rep-field w-full">
                <mat-form-field class="w-full">
                  <mat-label>Project Name</mat-label>
                  <input
                    matInput
                    type="text"
                    matInput
                    placeholder="Input"
                  >
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>

        <div class="cus-dropzone">
          <div class="dropzone-wrapper" id="boxupload">
            <div class="dropzone">
              <div class="upload-head">
                <div class="upload-plus-icon" class="upload-head" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"
                (addedFile)="fileAdded($event)">
                  <img src="../../assets/img/upload-plus.png" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"
                  (addedFile)="fileAdded($event)" />
                  <h5 [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"
                  (addedFile)="fileAdded($event)">Drag and drop or browse your file <br />.OBJ</h5>
                </div>
              </div>
              <div style="font-size:large; font-weight: bold; color: #ffffff" *ngIf="filename!=undefined && filename!=''">{{filename}}</div>
            </div>
          </div>
        </div>

        <div class="cus-progress-bar" *ngIf="isLoadFile">
          <p>Uploading...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="uploaded-btn">
          <button  (click)="ShowFile()" type="submit" mat-button type="submit">Ok</button>
        </div>
      </div>
      <div class="project-right">
        <div class="project-head">
          <div class="project-btn">
            <h2>Projects</h2>
          </div>
        </div>
        <div class="project-listing">
          <ul>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
            <li>
              <div class="pro-left-icon">
                <img src="../../assets/img/pro-list.png" />
                <h6>List item</h6>
              </div>
              <div class="list-right-icons">
                <button>
                  <img src="../../assets/img/search-icon.png" />
                </button>
                <button>
                  <img src="../../assets/img/delete-icon.png" />
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="pro-btn-group">
          <button type="button" mat-button type="submit">Ok</button>
          <button type="button" mat-button type="submit" [routerLink]="['/welcome-boring-O-Meter']" >Back</button>
        </div>
      </div>
    </div>

  </div>

  <div class="canvas-container" style="" [ngStyle]="isDisplay?{'display': 'block'} : {'display': 'none'}">
    <!-- <input type="text" placeholder="Name" class="form-control" style="width: 20%;margin-left: 117px;"> -->

    <div class="main-canvas-sec">
      <canvas id="main-canvas" #mainCanvas></canvas>
    </div>
    <div class="canvas-bottom-btns">
      <ul>
        <li>
          <button class="canvas-btn">
            <img src="../../assets/img/icon-plane.png" />
          </button>
          <p>Plane</p>
        </li>
        <li>
          <button class="canvas-btn" (click)="CancelFile()" type="submit">
            <img src="../../assets/img/icon-clear.png" />
          </button>
          <p>Clear</p>
        </li>
        <li>
          <button class="canvas-btn">
            <img src="../../assets/img/icon-analyse.png" />
          </button>
          <p>Analyse</p>
        </li>
        <li>
          <button class="canvas-btn">
            <img src="../../assets/img/icon-reset.png" />
          </button>
          <p>Reset</p>
        </li>
        <li>
          <button class="canvas-btn">
            <img src="../../assets/img/icon-projects.png" />
          </button>
          <p>Projects</p>
        </li>
      </ul>
    </div>
  </div>
</div>