<div class="inner-container">
  <div class="cus-container" [ngStyle]="isUpload?{'display': 'block'} : {'display': 'none'}">
    <div class="header-inner">
      <h1  [routerLink]="['/welcome-boring-O-Meter']">BoringOMeter</h1>
      <div class="profile-dropdown">
        <ul>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <span>{{loginEmail}}</span>
              <img src="../../assets/img/icon-profile.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="myAccount()" >
                <img src="../../assets/img/icon-profile.png" />
                <span>Account</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <img src="../../assets/img/icon-logout.png" />
                <span>Log Out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
    <div class="cus-pro-container">
      <div class="center-container">
        <div class="project-left">
          <div class="new-project-head">
            <div class="cus-form">
              <form class="form-build">
                <div class="new-project-btn">
                  <h2>New Project</h2>
                </div>
                <div class="rep-field w-full">
                  <mat-form-field class="w-full">
                    <mat-label>Project Name</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Input"
                    >
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>

          <div class="cus-dropzone" id="boxupload" appFileUpload (fileDropped)="onFileDropped($event)">
            <div class="dropzone-wrapper">
              <input type="file"  (change)="fileBrowseHandler($event)" id="fileDropRef" />
              <div class="dropzone">
                <div class="upload-head">
                  <div class="upload-plus-icon" class="upload-head">
                    <img src="../../assets/img/upload-plus.png"/>
                    <h5 *ngIf="filename==''; else files">Drag and drop or <u>browse</u> your file <br />.OBJ</h5>
                    <ng-template #files>
                      <br>
                      <h4>{{filename}}</h4>
                      <mat-icon matTooltip="Delete" style="color: #646464; margin-top: -5px;z-index: 999;" (click)="deleteModel()">delete_forever</mat-icon>
                    </ng-template>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cus-progress-bar" *ngIf="isLoadFile">
            <p>Uploading...</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <!-- <div class="uploaded-btn">
            <button  (click)="ShowFile()" type="submit" mat-button type="submit">Ok</button>
          </div> -->
        </div>
        <div class="project-right">
          <div class="project-head">
            <div class="project-btn">
              <h2>Projects</h2>
            </div>
          </div>
          <div class="project-listing">
            <ul>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="pro-left-icon">
                  <mat-icon>business</mat-icon>
                  <h6>List item</h6>
                </div>
                <div class="list-right-icons">
                  <button>
                    <mat-icon class="search-icon" (click)="projectAnalysis()">search</mat-icon>
                  </button>
                  <button>
                    <mat-icon class="delete-icon" (click)="deleteProject()">delete</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="pro-btn-group">
            <button type="button" mat-button type="submit" (click)="ShowFile()">Ok</button>
            <button type="button" mat-button type="submit" [routerLink]="['/welcome-boring-O-Meter']" >Back</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="canvas-container"  [ngStyle]="isDisplay?{'display': 'block'} : {'display': 'none'}">
    
    <div class="header-inner white-header">
      <h1>BoringOMeter</h1>
      <div class="profile-dropdown">
        <ul>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <span>{{loginEmail}}</span>
              <img src="../../assets/img/icon-profile.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="myAccount()" >
                <img src="../../assets/img/icon-profile.png" />
                <span>Account</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <img src="../../assets/img/icon-logout.png" />
                <span>Log Out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-canvas-sec">
      <div id="main-canvas"  #el></div>
    </div>
    <div class="canvas-bottom-btns">
      <ul>
        <li>
          <div class="canvas-btn"  (click)="createLine()">
            <mat-icon>timeline</mat-icon >
          </div>
          <p>Plane</p>
        </li>
        <li  *ngIf="isClear" >
          <div class="canvas-btn" (click)="clear()">
            <mat-icon>close</mat-icon>
          </div>
          <p>Clear</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="analyseModel()">
            <mat-icon>bar_chart</mat-icon>
          </div>
          <p>Analyse</p>
        </li>
        <li  *ngIf="isAnalyse">
          <div class="canvas-btn"  (click)="clearAnalyse()">
            <mat-icon>restart_alt</mat-icon>
          </div>
          <p>Clear Analyse</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="resetView()">
            <mat-icon>view_in_ar</mat-icon>
          </div>
          <p>Reset View</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="flipLight()">
            <mat-icon>light_mode</mat-icon>
          </div>
          <p>Flip Light</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="snap()">
            <mat-icon>check_box_outline_blank</mat-icon>
          </div>
          <p>Snap</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="rotateModel()">
            <mat-icon>settings_backup_restore</mat-icon>
          </div>
          <p>Roate Model</p>
        </li>
        <li>
          <div class="canvas-btn"  (click)="openProjects()">
            <mat-icon>business</mat-icon>
          </div>
          <p>Projects</p>
        </li>
      </ul>
    </div>
  </div>
</div>