<div class="inner-container">
  <app-circle #apploading></app-circle>
  <div class="cus-container" [ngStyle]="isUpload?{'display': 'block'} : {'display': 'none'}">
    <div class="header-inner">
      <h1 (click)="disposeScene()">BoringOMeter</h1>
      <div class="profile-dropdown">
        <ul>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <span>{{loginEmail}}</span>
              <img src="../../assets/img/icon-profile.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="myAccount()">
                <img src="../../assets/img/icon-profile.png" />
                <span>Account</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <img src="../../assets/img/icon-logout.png" />
                <span>Log Out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
    <div class="cus-pro-container">
      <div class="center-container">
        <div class="project-right">
          <div class="project-head">
            <h2>Projects</h2>
          </div>
          <div class="project-listing">
            <div class="inner-height">
              <ng-container *ngIf="projectList?.length!=0 else nodata">
                <ul *ngFor="let item of projectList">
                  <li style="cursor:pointer;">
                    <div class="pro-left-icon" (click)="projectAnalysis(item)">
                      <mat-icon>business</mat-icon>
                      <h6>{{item.projectName}}</h6>
                    </div>
                    <div class="list-right-icons">
                      <button>
                        <img src="../../assets/img/search-icon.svg" (click)="updateProject(item)" class="serach-icon">
                      </button>
                      <button>
                        <mat-icon class="delete-icon" (click)="deleteProject(item)">delete</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </ng-container>
              <ng-template #nodata>
                <div class="no-record-found">
                  <!-- <p>No record found</p> -->
                </div>
              </ng-template>
            </div>
            <div class="pagination-div" *ngIf="projectList?.length!=0">
              <app-pagination [pageIndex]="pageIndex" [limit]="pageSize" [total]="count"
                [changeDefaultPage]="changeDefaultPage" [changeStartPage]="changeStartPage"
                (pageChange)="pageChanged($event)">
              </app-pagination>
            </div>
          </div>
          <div class="pro-btn-group">
            <button type="button" mat-button type="submit" (click)="newproject()">New Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="canvas-container" [ngStyle]="isDisplay?{'display': 'block'} : {'display': 'none'}">
    <div class="header-inner white-header">
      <h1><span (click)="disposeScene()"> BoringOMeter </span><br>
        <span class="project-inner-cls" (click)="openProjects()">{{projectName}}</span>
      </h1>
      <br>
      <div class="profile-dropdown">
        <ul>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <span>{{loginEmail}}</span>
              <img src="../../assets/img/icon-profile.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="myAccount()">
                <img src="../../assets/img/icon-profile.png" />
                <span>Account</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <img src="../../assets/img/icon-logout.png" />
                <span>Log Out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-canvas-sec">
      <div id="main-canvas" #el></div>
    </div>
    <div class="canvas-bottom-btns">
      <ul>
        <li>
          <p class="header-li">Setup Analysis</p>
          <div class="canvas-btn" (click)="rotateModel()">
            <img src="../../assets/img/Align to Grid.svg" class="btn-svg">
          </div>
          <p>Align to Grid</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="createLine()">
            <img src="../../assets/img/Analysis Plane.svg" class="btn-svg">
          </div>
          <p>Analysis Plane</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="analyseModel()">
            <img src="../../assets/img/Analyse.svg" class="btn-svg">
          </div>
          <p>Analyse</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="currentViewAnalysis()">
            <img src="../../assets/img/View Analysis.svg" class="btn-svg">
          </div>
          <p>View Analysis</p>
        </li>
        <div style="border-right: 2px solid white;height: 100px;"></div>
        <li>
          <p class="header-li">Tools</p>
          <div class="canvas-btn" (click)="flipLight()">
            <img src="../../assets/img/Light Direction.svg" class="btn-svg">
          </div>
          <p>Light Direction</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="snap()">
            <img src="../../assets/img/Snap to grid.svg" class="btn-svg">
          </div>
          <p>Snap to Grid</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="resetView()">
            <img src="../../assets/img/Reset View.svg" class="btn-svg">
          </div>
          <p>Reset View</p>
        </li>
        <li>
          <div class="canvas-btn" (click)="swapCamera()">
            <img src="../../assets/img/Rotate View.svg" class="btn-svg">
          </div>
          <p>Rotate View</p>
        </li>
      </ul>
    </div>
  </div>
</div>