@media screen and (max-width: 992px) {
    
}  
@media screen and (max-width: 767px) {
    .main-container {
        height: auto;
        min-height: auto;
        max-height: none;
    }
    .custom-content {
        height: auto;
        .main-wrapper {
            flex-direction: column;
        }
    }
}
