
body{
    font-family: "Roboto", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    background: $primary-color;
    display: inline-block;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}
header{
    padding: 10px 0;
    height: 75px;
    .nav-item{
        .nav-link {
            color: $black-color;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
    }
    .navbar-toggler{
        &:focus {
            box-shadow: none;
        }
    }
}
.custom-content {
    height: calc(100vh - 120px);
    overflow: auto;
    .main-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 100%;  
        .banner_leftContent {
            width: 40%;
            margin-top: 50px;
            h1 {
                font-size: 58px;
                color: $black-color;
                margin-bottom: 16px;
                font-weight: 600;
            }
            button {
                background: transparent;
                border: none;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                img {
                    background: $white-color;
                    border-radius: 50%;
                    margin-right: 10px;
                    max-width: 30px;
                    width: 100%;
                }
            }
            .form-build{
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white-color;
                    padding: 6px 10px;
                    width: 100%;
                    max-width: 100%;
                    border-radius: 10px;
                    margin-top: 10px;
                    font-size: 14px;
                    height: 46px;
                    font-weight: 600;
                    color: $grey-color;
                    position: relative;
                    img {
                        background: transparent;
                        border-radius: 0;
                        max-width: 22px;
                        margin-right: 8px;
                    }
                    span {
                        background: $grey-color1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 46px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin: 0 auto;
                        border-radius: 10px 0px 0px 10px;
                        img {
                            margin-right: 10px;
                            margin-left: 10px;
                            max-width: 15px;
                        }
                    }            
                }
            }
        }
        .banner_rightImg {
            width: 65%;
            position: relative;
            padding-left: 40px;
            img {
                width: 100%;
                right: 0;
                top: 0;
                max-width: 100%;
                padding-top: 60px;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}
.form {
    margin-top: 30px;
    width: 100%;
    max-width: 60%;
    .form-group {
        position: relative;
        margin: 20px 0;
        img {
            position: absolute;
            right: 10px;
            top: 9px;
            width: 100%;
            max-width: 22px;
        }
        input {
            width: 100%;
            padding: 6px 8px;
            border-radius: 14px;
            font-size: 14px;
            height: 40px;
            border: 1px dotted $grey-color2;
        }
    }
}