
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BoringClient-primary: mat.define-palette(mat.$indigo-palette);
$BoringClient-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BoringClient-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BoringClient-theme: mat.define-light-theme((
  color: (
    primary: $BoringClient-primary,
    accent: $BoringClient-accent,
    warn: $BoringClient-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($BoringClient-theme);


body{
  font-family: "Roboto", sans-serif;
  background: $primary-color;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}
header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .cus-navbar{
    width: 100%;
    display: inline-block;
    padding-right: 10px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        margin: 0 12px;
        button{
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.1px;
          color: $black-color;
          padding: 0;
          min-width: auto;
          line-height: normal;
          &:hover, &:focus{
            background-color: transparent;
            .mat-button-focus-overlay{
              display: none;
            }
          }
        }
      }
    }
  }
}
.custom-content {
  height: calc(100vh - 70px);
  overflow: auto;
  .main-wrapper {
    display: flex;
    height: 100%;
    .banner_leftContent {
      width: 100%;
      padding: 50px 20px;
      h1 {
        font-size: 70px;
        color: $black-color;
        margin: 0;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.1px;
      }
      .video-button-row{
        width: 100%;
        display: inline-block;
        margin: 15px 0 20px 0;
        button {
          background: transparent;
          border: none;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: auto;
          cursor: pointer;
          .play-btn{
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white-color;
            border-radius: 50%;
            margin-right: 15px;
            img {
              width: 16px;
            }
          }
          span{
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.1px;
            color: $black-color;
          }
        }
      }
      .start-button-row{
        width: 100%;
        display: inline-block;
        button{
          background: $white-color;
          border-radius: 100px;
          color: $grey-color;
          box-shadow: none;
          min-width: 120px;
          height: 50px;
          font-size: 18px;
          margin: 0;
        }
      }
      .form-build{
        button{
          display: flex;
          align-items: center;
          justify-content: center;
          background: $white-color;
          padding: 6px 10px;
          width: 100%;
          max-width: 100%;
          border-radius: 10px;
          margin-top: 10px;
          font-size: 14px;
          height: 46px;
          font-weight: 600;
          color: $grey-color;
          position: relative;
          img {
            background: transparent;
            border-radius: 0;
            max-width: 22px;
            margin-right: 8px;
          }
          span {
            background: $grey-color1;
            position: absolute;
            top: 0;
            left: 0;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            border-radius: 10px 0px 0px 10px;
            img {
              margin-right: 10px;
              margin-left: 10px;
              max-width: 15px;
            }
          }            
        }
      }
    }
    .building-img{
      img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: 75%;
      }
    }
  }
}
.form {
  margin-top: 30px;
  width: 100%;
  max-width: 60%;
  .form-group {
    position: relative;
    margin: 20px 0;
    img {
      position: absolute;
      right: 10px;
      top: 9px;
      width: 100%;
      max-width: 22px;
    }
    input {
      width: 100%;
      padding: 6px 8px;
      border-radius: 14px;
      font-size: 14px;
      height: 40px;
      border: 1px dotted $grey-color2;
    }
  }
}