<div class="header-inner">
    <h1>BoringOMeter</h1>
  </div>

  
<div class="inner-container">
    <div class="cus-container">
        <div class="cus-pro-container">
            <div class="cus-form">
                <div class="my-project">
                    <h2>My Account</h2>
                </div>
                <form class="form-build">
                    <div class="rep-field w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                type="text"
                                matInput
                                placeholder="Input"
                            >
                        </mat-form-field>
                    </div>
                    <div class="uploaded-btn">
                        <button type="submit" mat-button type="submit">Save</button>
                    </div>
                </form>
                <form class="form-build">
                    <div class="rep-field w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Password</mat-label>
                            <input
                                matInput
                                type="text"
                                matInput
                                placeholder="Input"
                            >
                        </mat-form-field>
                    </div>
                    <div class="rep-field w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Confirm Password</mat-label>
                            <input
                                matInput
                                type="text"
                                matInput
                                placeholder="Input"
                            >
                        </mat-form-field>
                    </div>
                    <div class="uploaded-btn">
                        <button type="submit" mat-button type="submit">Update</button>
                    </div>
                </form>
                <div class="delete-acc-btn">
                    <button type="submit" mat-button type="submit">Delete Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
