<header>
    <div class="header-inner" [routerLink]="['/home']">
        <h1 *ngIf="isLogo">BoringOMeter</h1>
    </div>
    <mat-grid-list cols="3">

        <div class="cus-navbar">
            <ul>
                <li>
                    <button mat-button [routerLink]="['/about']">About</button>
                </li>
                <li>
                    <button mat-button>How it works?</button>
                </li>
                <li>
                    <button mat-button [routerLink]="['/contact-us']">Contact Us</button>
                </li>
            </ul>
        </div>
    </mat-grid-list>
</header>